body {
    opacity: 0;
    /* transition: opacity 1.5s ease; */
}

.horizontal-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px; /* Espacio alrededor del contenedor */
    scrollbar-width: none; /* Ajusta el ancho de la barra de desplazamiento en Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}

.horizontal-slider::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y otros navegadores WebKit */
}

.horizontal-slider::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7); /* Color de la barra de desplazamiento en Chrome, Safari y Edge */
    border-radius: 4px; /* Redondeo de las esquinas de la barra de desplazamiento */
}

.card {
    border: none;
    flex: 0 0 auto; /* Esto asegura que las tarjetas no se estiren y mantengan su ancho */
    width: 410px; /* Ancho de las tarjetas */
    height: 512px; /* Altura de las tarjetas */
    background-color: #f5f5f5; /* Color de fondo de las tarjetas */
    border-radius: 30px; /* Redondeo de las esquinas de las tarjetas */
    -webkit-box-shadow: 0px 0px 50px -6px #000000; 
    box-shadow: 0px 0px 15px -6px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column; /* Alinea los elementos (imagen y texto) verticalmente */
    gap: px; /* Espacio entre la imagen y el texto */
    background-size: 150% 150%;
    animation: gradientShift 4s infinite alternate;
    overflow: hidden;
    cursor: pointer;
    background-image: 
        radial-gradient(circle at 10% 15%, #cda0ff 0%, transparent 70%),
        radial-gradient(circle at 90% 85%, #ae9cff 0%, transparent 60%),
        radial-gradient(circle at 55% 55%, #98abff 0%, transparent 40%),
        radial-gradient(circle at 20% 80%, #90c9ff 0%, transparent 35%),
        radial-gradient(circle at 70% 20%, #8cf6fa 0%, transparent 45%);
}

.card img {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: 85%; /* La imagen ocupa el 80% de la altura de la tarjeta */
    object-fit: cover;
    transform: scale(1.1); /* Esto "amplía" la imagen en un 20% */
}

.card span {
    font-size: 19px; /* Tamaño del texto */
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.097310185432434px;
    padding-top: 20px;
    text-align: center; /* Centra el texto horizontalmente */
    flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
    display: flex; /* Convierte el span en un contenedor flex */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
}

.test-header {
    font-size: 55px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

.test-content {
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;    
}

.hidden {
    display: none !important;
}

.test-text {
    text-align: center;
}