#container-body {
    min-height: 100vh;
    background-size: 150% 150%;
    animation: gradientShift 4s infinite alternate;
    background-image: 
        radial-gradient(circle at 10% 15%, #ffffff 0%, transparent 70%),
        radial-gradient(circle at 90% 85%, #f9fffe 0%, transparent 60%),
        radial-gradient(circle at 55% 55%, #b5fdf3 0%, transparent 40%),
        radial-gradient(circle at 20% 80%, #b8d0fb 0%, transparent 35%),
        radial-gradient(circle at 70% 20%, #B5CFFD 0%, transparent 45%);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 50% 25%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 75%;
    }
    100% {
        background-position: 0% 100%;
    }
}
