.main-content {
    min-height: 50vh;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    width: 150vw;
    border: 1px #266FF2 solid;
    border-radius: 25px;
}

.header-test {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

#step-container {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}

.close a {
    text-decoration: none;
    color: #37383C;
    font-size: 23px;
}